
.navbar {
  position: fixed; /* Keeps the navbar fixed at the top */
  top: 0; /* Aligns it to the very top of the viewport */
  width: 100%; /* Ensures the navbar spans the full width of the page */
  z-index: 1000; /* Keeps the navbar above other content */
  background-color: #18283f; /* Optional background color (adjust as needed) */

  height: 8.7%;
 
}

.navbar + .content {
  padding-top: 80px; /* Adjust this value to prevent content from overlapping with the navbar */
}
 
.btn{
     background-color: #18283f;
     border: none;
   
     color: white; 
}